h1, h2, h3, h4, h5, h6 {
	margin-bottom: 0.75em;
}

hr {
	border-top-width: 2px;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
	width: 100%;
}

#app {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}
